.header {
    padding: 0 30px;
  .header-nav {
    display: flex;
    padding: 23px 0;
    justify-content: flex-end;

    .nav-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      right: 10px;
      top: 10px;
      width: 44px;
      height: 37px;
      cursor: pointer;
      background-color: black;

      &-icon,
      &-icon:before,
      &-icon:after {
        width: 17px;
        position: relative;
        height: 2px;
        background: rgb(255, 255, 255);
        display: block;
        transition: 0.3s;
        border-radius: 5px;
      }

      &-icon:before {
        content: "";
        position: absolute;
        top: -6px;
        transition: top 300ms 300ms,
          transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &-icon:after {
        content: "";
        bottom: -6px;
        transition: bottom 300ms 300ms,
          transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      &-icon.active:before {
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms,
          transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      &-icon.active:after {
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms,
          transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      &-icon.active {
        background: rgba(255, 255, 255, 0);
      }
    }
  }

  .nav-menu-list {
    min-width: 180px;
    background: #f5f5f5;
    color: $basic-text-color;
    font-size: 11px;
    text-transform: uppercase;
    position: fixed;
    top: 60px;
    right: -320px;
    transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.animate {
      right: 30px;
    }

    .nav-menu-item {
      .nav-menu-link {
        display: flex;
        padding: 5px 14px;
        font-size: 11px;
        line-height: 22px;
        color: $basic-text-color;
      }

      .highlight-text {
        color: #57a4a4;
      }

      &:hover,
      &:focus {
        background-color: #e5e5e5;
      }
    }
  }

  .header-background {
    background: url(../img/background/header-bg.jpg);
    height: calc((100vw - 60px) / 2.1333333);
    background-size: contain;
  }
}
