.header {
    // padding-top: 37px;

  &__content-wrapper{
      @include d-flex-center;
      justify-content: space-between;
  }
  &__contacts-wrapper{
    @include d-flex-center;
    gap: 20px;
  }
  &__burger-menu {
    @include centered-BG;
    background-image: url("../img/burger-icon.svg");
    width: 20px;
    height: 20px;
  }
  &__call-btn {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    span {
        color: $main-theme-color;
    }
  }
  &__call-back{
      @include centered-BG;
    background-image: url("../img/tel.svg");
    background-size: 50%;
    padding: 18px;
    border:1px solid $main-theme-color;
    @media screen and (min-width: 900px){
      background-position: 26px 50%;
      background-size: 10%;
    };
  }
  &__call-back-text{
    font-size: 18px;
    line-height: 30px;
    color: $main-theme-color;
    display: none;
    @media screen and (min-width: 900px){
      display: inline-block;
      padding: 10px 25px 10px 49px;
    };
  }

}
