@mixin d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin centered-BG {
  background-position: center;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin font-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #4e4e4e;
}
