// Colors
$basic-text-color: #4E4E4E;
$highlight-text-color:  #57A4A4;

$body-color: black;
$main-theme-color:#d6b076a8;


// Breakpoints
$mobile-small: 320px;
$mobile-normal: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;

// Style elements
$border-radius: 6px;

// style section
$conteiner-size-1030: 0 calc(50% - 515px);



